* {
    font-family: "Comic Sans MS", "Comic Sans";
}

body{
    font-size: large;
    font-weight: bold;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
footer {
margin-top: auto;
margin-bottom: 25px;
}

#output{
    margin-right: 50vw;
    border-spacing: 1.5vh;
}
